[submodule "source/imgui"]
	path = source/imgui
	url = https://github.com/ocornut/imgui
	ignore = untracked
[submodule "source/stb"]
	path = source/stb
	url = https://github.com/nothings/stb
	ignore = untracked
[submodule "source/glm"]
	path = source/glm
	url = https://github.com/g-truc/glm
	ignore = untracked
[submodule "source/glfw"]
	path = source/glfw
	url = https://github.com/glfw/glfw
	ignore = untracked
[submodule "test/googletest"]
	path = test/googletest
	url = https://github.com/google/googletest
	ignore = untracked
